    /* Page background */
.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial, sans-serif;
}

/* Card */
.form-card {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
}

/* Heading */
.form-card h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Inputs and textareas */
.form-card input [type="text"],
.form-card select,
.form-card textarea,
.form-card button {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Input focus */
.form-card input[type="text"]:focus,
.form-card select:focus,
.form-card textarea:focus,
.form-card button:focus {
    outline: none;
    border-color: #667eea;
    
    box-shadow: 0 0 5px rgba(102,126,234,0.5);
}

/* Submit button */
.form-card input[type="submit"],
.form-card button {
    width: 100%;
    padding: 12px;
    background-color: #667eea;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-card input[type="submit"]:hover,
.form-card button:hover {
    background-color: #5a67d8;
}


/* Paragraph spacing (for form.as_p) */
.form-card p {
    margin-bottom: 10px;
}


/* Add comment */





.floating-error {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ff4d4d;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    font-size: 14px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    z-index: 9999;
}

.floating-error.show {
    opacity: 1;
    transform: translateY(0);
}
